<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>


    <p>{{ post }}</p>
    

    <!-- {{posts}}
    <br>
    
    {% for post in posts %}
        {% if post.status == 0 %}
            <p>Not Published yet</p>
            {% else %}
                <h1>{{post.title}}</h1>
                <p style="color: grey;">{{post.content}}</p>
                <small style="color: darkgray;">{{post.published_date}}</small>
        {% endif %}
    {% endfor %} -->

</body>
</html>